[submodule "algorithm"]
	path = algorithm
	url = https://github.com/SangChan/algorithm.git
[submodule "Koding-Kungfu"]
	path = Koding-Kungfu
	url = https://github.com/ch7895/Koding-Kungfu.git
[submodule "codingkungfu"]
	path = codingkungfu
	url = https://github.com/sjh8543/codingkungfu.git
